<h1>Sign Up Below:</h1>
  <form method='post' action='/registrations'>
    <label for='name'>Name:</label>
      <input name='name' type='text' id='name'>
    <label for='email'>Email:</label>
      <input name='email' type='text' id='email'>
    <label for='password'>Password:</label>
      <input name='password' type='text' id='password'>
    <input type='button' id='submit' value='Sign Up'>
  </form>

